{
  "plugins": ["jasmine"],
  "parser": "babel-eslint",
  "extends": ["airbnb", "plugin:jasmine/recommended"],
  "env": {
    "browser": true
  },
  "rules": {
    "func-names": "off"
  },
  "globals": {
    "describe": true,
    "angular": true
  }
}
